<h1>Product Categories</h1>
<br>
<%= link_to 'Back', url_for(:back) %>
<br>
<br>

<%# <% product_type.each do |categories| %>


<% @products_count.each do |a|%>
    
   <br><%= a.category %><br>
       <%= a.count(:products) %>

<% end %>
