<h1>Product Categories</h1>
<br>
<%= link_to 'Back', url_for(:back) %>
<br>
<br>

<%# <% @product_types.each do |categories|%>

<%# <% end %>

<% @products_count.each do |a|%>
    
   <br><%= a.category %><br>
       <%= a.count(:products) %>

<% end %>
