<div class="container">
<br>
    <h1>User Profile</h1>

    <p><button type="button" class="btn-default"><%= link_to 'Back', url_for(:back) %></button></p>
    <br>
    <p><%= link_to 'Payment Options', payment_types_path %></p>

</div>