<div class="container">

<h1> Payment Options</h1>
<p><button type="button" class="btn-default"><%= link_to 'Back', url_for(:back) %></button></p>
<br>
<p><%= render "payment_form", payment_type: @payment_type%></p>

</div>