<h1>A</h1>
<<<<<<< HEAD
<%= link_to 'Back', url_for(:back) %>
=======
>>>>>>> master
<p class="move_right"><%= @payment_type.payment %> </p>
<p class="move_right"><%= @payment_type.account_number %> </p>