<div class="container">

<h1>Confirmed Payment Type Added:</h1>
<p class="move_right"><button type="button" class="btn-default"><%= link_to 'Back', url_for(:back) %></button></p>
<p class="move_right"><%= @payment_type.payment %> </p>
<p class="move_right"><%= @payment_type.account_number %> </p>

<p class="move_right"><%= link_to 'Profile', profile_path %></p>

</div>