/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: Roboto;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
}

.cart {
    height: 77px;
    width: 77px;
}

.all_prod_rows {
    padding: 12px;
    border: 1px solid lightgray;
}

.small_image {
    width: 136px;
    height: 135px;
    border: 1px solid black;
    margin: 2px;
}

.usernmae {
    align-content: right;
    color: orange;
    
}

table tr:nth-child(even) td{
    background-color: lightgoldenrodyellow;
    
}

.tr_header {
    background-color: orange;
}

input {
    margin-right: 18px;
}

.margin_bottom {
    margin-bottom: 10px;
}
.margin_applied {
    margin: 6px;
}

.order_rows {
    padding: 7px 13px;
    border: 1px solid lightgray;
    /* padding-right: 42px; */
}

.payment_types {
    padding: 9px;
    border: 1px solid lightgray;
    padding-right: 42px;
}

.order_image {
    width: 155px;
    height: 155px;
    border: 1px solid black;
    margin: 10px;
}

img {
    width: 500px;
    height: auto;
    border-radius: 12px;
}

.nav_height {
    min-height: 66px;
}

body {
    margin-right: 30px;
}

.move_right {
    padding-left: 32px;
}

.white {
    color: white;
    display: inline;
}

form {
    margin-left: 22px;
    margin-top: 22px;
}

td {
    padding: 0px 16px 0px 0px;
    text-align: left;
}

th {
    padding: 0px 16px 0px 0px;
    text-align: left;
}

.border_show {
    border-width: thick;
    border-radius: 12px;
}